{% extends 'layout.html.twig' %}

{% block layout %}
    <div class="col-md-12">
        <div class="row" style="display:block; padding-left:40px">
            <h2 style="text-align: center">
                <strong>
                    Liste des tutos disponibles
                </strong>
            </h2>
            <br />
        </div>
        <div class="row" style="padding-top:20px">
            {% for data in tutos %}
                <div class="col-sm-12 col-lg-6" style="padding-bottom:30px;">
                    <div class="card" style="border: 1px solid black;height: 100%;min-height:215px">
                        <h5 class="card-header">
                            <strong>
                                {{ data.title }}
                            </strong>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <i>
                                    {{ data.content|length > 200 ? data.content|slice(0,200)|raw : data.content|raw }}
                                    {{ data.content|length > 200 ? '...' : ''}}
                                </i>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a style="float: right;"
                               href="{{ path('tuto_read', {tutoId: data.id}) }}"
                               class="btn btn-primary">
                                Lire le tuto
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(tutos) }}
        </div>
    </div>
{% endblock %}