{% extends 'layout.html.twig' %}

{% block layout %}
<div class="row" style="padding-left:40px">
    <div class="col-lg-8 col-12">
        {% if tuto is not null %}
            <div class="row" style="display: block">
                <h3 class="tuto_title" style="text-align: center;">
                    <strong>
                        {{ tuto.title }}
                    </strong>
                </h3>
                <div class="row" style="display: block;text-align: center;">
                    <i style="color:gray;">{{ tuto.createdAt|date('d/m/Y') }}</i>
                </div>
                <br />
                <div class="row" style="padding:20px; margin:10px;border: 1px solid gray;border-radius:3px">
                    <p style="text-align:justify">
                        {{ tuto.content|raw }}
                    </p>
                </div>
            </div>
        {% else %}
            <div class="row" style="display: block">
                Tuto introuvable
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}