{% extends 'layout.html.twig' %}

{% block layout %}
    <div class="row" style="padding-left:40px; padding-top:20px">
        <div class="col-lg-8 col-12">
            <div class="row" style="display: block">
                <div class="row" style="display:block;">
                    <h2 class="jurisprudence_title" style="text-align: center;">
                        <strong>{{ jurisprudence.name }}</strong>
                    </h2>
                </div>
                <br />
                <div class="row">
                    <p>
                        <span style="color:gray">Date : </span>
                        <strong>{{ jurisprudence.createdAt|date('d/m/Y') }}</strong>
                        <br />
                        <span style="color:gray">Catégorie : </span>
                        <strong>{{ jurisprudence.category.name }}</strong>
                        <br />
                        <span style="color:gray">Mots clés : </span>
                        {% if jurisprudence.tags|length > 0 %}
                            {% for tag in jurisprudence.tags %}
                                <a href="{{ path('jurisprudences_by_tag', {tag: tag}) }}">
                                   <span class="badge badge-primary">
                                    {{ tag }}
                                </span>
                                </a>
                            {% endfor %}
                        {% else %}
                            Pas de mots clés
                        {% endif %}
                        <br />
                        {% if jurisprudence.pdf is not null and jurisprudence.pdf != '' %}
                            <br />
                            <a href="{{ '/jurisprudences-pdf/'~ jurisprudence.pdf }}" target="_blank">
                                <button type="button" class="btn btn-primary">Télécharger au format PDF</button>
                            </a>
                        {% endif %}
                    </p>
                </div>
                <br />
                <div class="row" style="padding:20px; margin:10px;border: 1px solid gray;border-radius:3px">
                    <p style="text-align:justify">
                        {{ jurisprudence.content|raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}