@media screen and (min-width: 701px) {
    div.example {
        font-size: 80px;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 700px) {
    .custom-select {
        font-size: 50px;
    }
}