{% extends '@!EasyAdmin/crud/edit.html.twig' %}

{% block main %}
    {{ parent() }}

    <div class="row" style="border-radius:2px;background-color: white;position:relative;left:15px;top:-10px; height:50px">
        <div class="col-md-8" style="padding-top:10px">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tuto_modal">
                Ajouter aux tutos
            </button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#news_modal">
                Ajouter dans les actus
            </button>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#jurisprudence_modal">
                Ajouter dans les jurisprudences
            </button>
        </div>
    </div>

    {% include '@EasyAdmin/Contribution/modal_jurisprudence.html.twig' %}
    {% include '@EasyAdmin/Contribution/modal_news.html.twig' %}
    {% include '@EasyAdmin/Contribution/modal_tuto.html.twig' %}
{% endblock %}
