<div class="modal fade" id="jurisprudence_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter cette contribution aux jurisprudences</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="flash-messsage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" onclick="addJurisprudence()">Ajouter aux jurisprudences</button>
            </div>
        </div>
    </div>
</div>

<script>
    var title = $('#Contribution_name').val();
    var tags = '';
    var category = '';
    var address = '';
    var justiceCourt = '';
    var active = null;

    $(document).on('change input keypress paste', '#form_tags', function(event) {
        tags= ($(this).val());
    });
    $(document).on('change', '#form_category', function(event) {
        category = $(this).val();
    });
    $(document).on('change', '#form_active', function(event) {
        active = $(this).is(':checked');
    });
    $(document).on('change input keypress paste', '#form_address', function(event) {
        address = $(this).val();
    });
    $(document).on('change input keypress paste', '#form_justiceCourt', function(event) {
        justiceCourt = $(this).val();
    });
    $(document).on('change input keypress paste', '#Contribution_name', function(event) {
        title = ($(this).val());
    });
    for (var i in CKEDITOR.instances) {
        CKEDITOR.instances[i].on('change', function(evt) {
            content = evt.editor.getData();
        });
    }

    // Display form on modal opening
    $('#jurisprudence_modal').on('show.bs.modal', function (e) {
        // Get the form
        var contributionJurisprudenceFormURL = "{{ path('contribution_admin_form') }}";
        var content = '';
        $.ajax({
            type: 'GET',
            url: contributionJurisprudenceFormURL,
        }).then(function(response) {
            $('.modal-body').html(response);
        });
    })

    // Post the form
    function addJurisprudence() {
        var contribToJpURL = "{{ path('contribution_to_jurisprudence') }}";
        const urlParams = new URLSearchParams(window.location.search);
        const contributionId = urlParams.get('entityId');

        console.log(address);

        $('.flash-messsage').html('<div class="spinner-border text-primary" style="margin-left:30px" role="status"><span class="sr-only">Loading...</span></div>');
        $.ajax({
            type: 'POST',
            url: contribToJpURL,
            data: {
                'contribution': contributionId,
                'category': category,
                'active': active,
                'tags': tags,
                'content': content,
                'name': title,
                'address': address,
                'justiceCourt': justiceCourt,
            }
        }).then(function(response) {
            $('.flash-messsage').html('<div class="alert alert-success" role="alert">Jurisprudence ajoutée</div>');
            setTimeout(function(){
                $('#jurisprudence_modal').modal('toggle');
                $('.flash-messsage').empty();
            }, 2000);
        });
    }
</script>