{% extends 'layout.html.twig' %}

{% block layout %}
    <div class="row" style="padding-left:40px">
        <div class="col-lg-8 col-12">
            <div class="row" style="display: block">
                <div class="row" style="display: block">
                    <h3 class="news_title" style="text-align: center">
                        <strong>
                            {{ news.title }}
                        </strong>

                    </h3>
                </div>
                <div class="row" style="display: block;text-align: center;">
                    <i style="color:gray;">{{ news.createdAt|date('d/m/Y') }}</i>
                </div>
                <br />
                <div class="row" style="padding:20px; margin:10px;border: 1px solid gray;border-radius:3px">
                    <p style="text-align:justify">
                        {{ news.content|raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}