{% extends 'layout.html.twig' %}

{% block layout %}
    <div class="row" style="display:block; padding-left:40px">
        <h2 style="text-align: center">
            <strong>
                Statistiques
            </strong>
        </h2>
        <br />
{#        <p>#}
{#            <i>#}
{#                Voici quelques statistiques#}
{#            </i>#}
{#        </p>#}
    </div>
    <div class="col-12 col-lg-6">


        <div class="row">
            <strong>
                Le site a reçu un nombre total de {{ (total_visitors is not null) ? total_visitors.counter : '0' }}  visiteurs
            </strong>
        </div>
        <br/>
        <div class="row">
            <i>
                Voici les 5 pages les plus consultées
            </i>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre de visites</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Catégorie</th>
                </tr>
                </thead>
                <tbody>
                {% for stat in stats %}
                    <tr>
                        <td>{{ stat.count }}</td>
                        <td>
                            {% if stat.category == "App\\Entity\\Tuto" %}
                                <a href="{{ path('tuto_read', {tutoId: stat.id}) }}">
                                    {{ stat.title }}
                                </a>
                            {% endif %}
                            {% if stat.category == "App\\Entity\\News" %}
                                <a href="{{ path('news_read', {actuId: stat.id}) }}">
                                    {{ stat.title }}
                                </a>
                            {% endif %}
                            {% if stat.category == "App\\Entity\\Jurisprudence" %}
                                <a href="{{ path('jurisprudence_show', {jurisprudenceId: stat.id}) }}">
                                    {{ stat.title }}
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if stat.category == "App\\Entity\\Tuto" %}
                                Tuto
                            {% endif %}
                            {% if stat.category == "App\\Entity\\News" %}
                                Actu
                            {% endif %}
                            {% if stat.category == "App\\Entity\\Jurisprudence" %}
                                Jurisprudence
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}